<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Student Management System</h1>
    <hr>
    <h2>Save Student</h2>

    <form action="#" th:action="@{/saveStudent}" th:object="${student}" method="POST">
        <div class="form-group">
            <label for="text">Student Name:</label>
            <input type="text" th:field="*{name}" placeholder="Student Name" class="form-control mb-4 col-4">
        </div>

        <div class="form-group">
            <label for="number">Student Age:</label>
            <input type="number" th:field="*{age}" placeholder="Student Age" class="form-control mb-4 col-4">
        </div>

        <button type="submit" class="btn btn-info col-2">Save Student</button>

    </form>
</div>
</body>
</html>